@{
    ViewBag.Title = "Contact";
}
<h2>
    For any enquiries please contact system developer
</h2>
<h3>
    Developer Details:
</h3>
<h4 class="jumbotron label-primary" style="text-align:center;background-color:aquamarine;color:darkorchid;font-size:200%">
    Name: Chua Chin Hong<br /><br />
    Student ID: TP034423<br /><br />
    Email: cruzlegacy@gmail.com<br /><br />
    Phone: 010-9765256

</h4>